/* 
Box direction control. By default direct children are
displayed horizontally. (display: box default)
vertical : direct children will be displayed vertically.

Note : horizontal is often used as a default container.
*/
.horizontal > *{
	border: 1px solid;
	display:inline-block;
}

.vertical > *{
	border-bottom:1px solid;
	display:block;
}

.vertical > *:first-child{
	border-top: 1px solid;
}

.half_space { width: 50%; }

.hidden { display: none !important; }

.bordered{
	border: 1px solid;
}

.con1{
	
}

.con2{
	
}

.con3:first-child{

}

.con3{
	
}

.group1{
	
}
.group2{
	
}

.group1 > *{
}

.group2 > *{
}

.att{
	padding:5px;
	margin:3px;
}

.link{
	
}

.nest{
	margin:3px;
}

input[type="submit"]{
	
}

table{
	border:1px solid;
}